@media only screen and (max-width: 1550px) {

    .tf-fullscreen {
        overflow: unset;
    }

    .footer {
        position: unset;
    }

    .footer {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 1190px) {
    .tf-fullscreen {
        overflow: unset;
    }

    .group-4-8 .cl4 {
        width: 100%;
    }

    .group-4-8 .cl8 {
        width: 100%;
        margin-left: 0px;
    }

    .sticky-sidebar {
        max-width: 70%;
        margin: 0 auto 30px;
    }

    .footer,
    .wedo-section {
        position: unset;
    }

    .footer {
        margin-top: 20px;
    }

}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 848px) {
    .home-box .content {
        /* justify-content: unset; */
    }

    .home-box .inner-right .box-image {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .home-box .inner-right .box-image .inner img {
        margin-right: 30px;
    }

    .home-box .inner-right .box-image .top img {
        display: none;
    }
}

@media only screen and (max-width: 700px) {

    /* menmu */
    .menu-popup .widget-filter {
        height: fit-content;
    }

    /* .menu-popup .menu-left,
    .menu-popup .menu-right {
        justify-content: unset;
        gap: 40px;
    } */


    .menu-popup .menu-right .icon-close {
        justify-content: flex-end;
    }

    .menu-popup .menu-right .icon-close span {
        display: none;
    }

    .menu-popup .wd-social-icon {
        flex-direction: column;
    }

    .wrapper {
        padding: 30px;
    }

    .sticky-sidebar {
        max-width: 100%;
    }
}

@media only screen and (max-width: 550px) {
    .menu-popup .widget-filter {
        display: block;
        height: 85vh;
        overflow-y: scroll;
    }

    .menu-popup .menu-left .contact {
        display: none;
    }

    .menu-popup .menu-right .contact {
        display: block;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .menu-popup .menu-right .contact>.contact-phone {
        margin-bottom: 20px;
    }

    .menu-popup .menu-left img {
        margin-left: -30px;
    }

    .menu-popup .wd-social-icon {
        flex-direction: row;
    }

    .title-button-group {
        position: absolute;
        top: 50px;
        width: 80px;
        height: 80px;
    }

    .wrapper {
        padding: 15px;
    }

    .inner-header {
        justify-content: flex-end;
    }

    .inner-header-left {
        display: none;
    }

    .home-box .inner-left .img-content .icon-social {
        flex-direction: row;
    }

    .home-box .inner-right .box-image {
        row-gap: 30px;
        column-gap: 0px;

    }

    .item.wrap-counter {
        width: 50%;
    }

    .wrap-title .title {
        font-size: 45px;
        line-height: 55px;
    }

    .tf-service {
        flex-wrap: wrap;
        row-gap: 24px;
    }

    .tf-service .title,
    .tf-service .content {
        flex: unset;
        width: 100%;
    }

    .tf-count.center {
        text-align: center;
    }

    .tf-count.center .count h4 {
        justify-content: center;
    }
}

@media only screen and (max-width: 425px) {
    .item.wrap-counter {
        width: 100%;
        align-items: flex-start;
    }

    .tf-count {
        margin-top: 80px;
    }
}