/* Reset
-------------------------------------------------------------- */
:root {
    --primary-color: #A2A5B1;
    --color-white: #FFFFFF;
    --title-light: #1D1C22;
    --color-dark: #1A191E;
    --primary-bg-light: #B4D700;
    --primary-bg-white: #F6F6F6;
    --bg-dark-hover: rgba(255, 255, 255, 0.1);
}

html {
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
caption,
canvas,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
form,
footer,
header,
hgroup,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
tt,
table,
tbody,
textarea,
tfoot,
thead,
time,
tr,
th,
td,
u,
ul,
var,
video {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    quotes: none;
}

figure {
    margin: 0;
}

:focus {
    outline: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

legend {
    white-space: normal;
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    max-width: 100%;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button,
input {
    line-height: normal;
}


input,
textarea {
    background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0));
    /* Removing the inner shadow, rounded corners on iOS inputs */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    line-height: 1;
    cursor: pointer;
    /* Improves usability and consistency of cursor style between image-type 'input' and others */
    -webkit-appearance: button;
    /* Corrects inability to style clickable 'input' types in iOS */
    border: none;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0;
    /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
    -webkit-appearance: textfield;
    /* Addresses appearance set to searchfield in S5, Chrome */
}

input[type="search"]::-webkit-search-decoration {
    /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
    border: 0;
    padding: 0;
}

label {
    color: var(--title-light);
    font-size: 14px;
    line-height: 17px;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Repeatable Patterns
  -------------------------------------------------------------- */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font: 14px/25px 'Inter', sans-serif;
    font-weight: 400;
    background-color: #fff;
    color: var(--primary-color);
}

a {
    color: var(--title-light);
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
    color: var(--primary-bg-light);
    text-decoration: none;
    outline: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

ul,
ol {
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

b,
strong {
    font-weight: 900;
}

h1 {
    font: 50px/50px 'Bebas Neue', cursive;
    color: var(--title-light);
}

h2 {
    font: 45px/45px 'Bebas Neue', cursive;
}

h3 {
    font: 30px/30px 'Bebas Neue', cursive;
}

h4 {
    font: 25px/25px 'Bebas Neue', cursive;
}

h5 {
    font: 22px/22px 'Bebas Neue', cursive;
}

h6 {
    font: 20px/20px 'Bebas Neue', cursive;
}

p {
    color: var(--primary-color);
    font-size: 16px;
    line-height: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    color: var(--title-light);
}

h1 {
    font-size: 80px;
    line-height: 1.1em;
}

h2 {
    font-size: 56px;
    line-height: 1.2142857142857142em;
}

h3 {
    font-size: 44px;
    line-height: 1.1363636363636365em;
}

h4 {
    font-size: 36px;
    line-height: 1.2222222222222223em;
}

h5 {
    font-size: 30px;
    line-height: 1.4em;
}

h6 {
    font-size: 24px;
    line-height: 1.25em;
}



input[type="button"],
input[type="reset"],
input[type="submit"] {
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    background-color: transparent;
    text-transform: uppercase;
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-dark);
    padding: 7px 21px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

button[type="submit"] {
    border: none;
    font-weight: 700;
    background-color: var(--primary-bg-light);
    text-transform: capitalize;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}

button:hover {
    background-color: rgba(29, 28, 34, 0.1);
    color: var(--primary-bg-light);
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    width: 100%;
    font-size: 14px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: var(--primary-color);
    background-color: transparent;
    height: 56px;
    padding: 21px 26px;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 21px 26px;
}

input[type="checkbox"] {
    display: inline;
}

textarea:-moz-placeholder,
textarea::-moz-placeholder,
input:-moz-placeholder,
input::-moz-placeholder {
    color: rgba(162, 165, 177, 0.6);
    opacity: 1;
}

input:-ms-input-placeholder {
    color: rgba(162, 165, 177, 0.6);
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    color: rgba(162, 165, 177, 0.6);
    opacity: 1;
}

/* bootstrap resetting elements */
.btn {
    background-image: none;
}

textarea,
input[type="text"],
input[type="submit"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.dropdown-menu,
.navbar .nav>.active>a,
.navbar .nav>.active>a:hover,
.navbar .nav>.active>a:focus {
    -webkit-appearance: none;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    color: var(--primary-color);
    border: 1px solid rgba(29, 28, 34, 0.1);
}


.header {
    padding: 25px 0px 14px;
}

.logo {
    width: 87.5px;
    height: 70px;
    display: block;

}

.inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner-header-left,
.inner-header-right {
    display: flex;
    align-items: center;
}

.inner-header-left h3 {
    font-size: 18px;
    line-height: 21.6px;
}

.inner-header-left h3 span {
    color: var(--primary-bg-light);
}

.inner-header-left h3:first-child {
    margin-right: 40px;
}

.wd-icon-box {
    border: 1px solid #E6E6E7;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}

.wd-icon-box:last-child {
    margin-left: 20px;
}

.wd-icon-box:hover,
.wd-icon-box.active {
    background-color: var(--primary-bg-light);
    border: none
}

.wd-icon-box:hover span::before {
    color: var(--title-light);
}

.wd-icon-box .icon-phone {
    font-size: 18px;
}

.wd-icon-box .nav-menu {
    position: relative;
}



.nav-menu span {
    display: block;
    width: 18px;
    height: 2px;
    background-color: var(--title-light);
    border-radius: 8px;
    margin: 8px 0px 6px;
}

.nav-menu::before,
.nav-menu::after {
    content: "";
    position: absolute;
    display: block;
    width: 16px;
    height: 2px;
    background-color: var(--title-light);
    border-radius: 8px;
    overflow: hidden;
}

.nav-menu::after {
    width: 12px;
    height: 2px;
    left: 2px;

}

/* footer */
.footer {
    margin: 31px 0px 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer img {
    width: 284px;
    height: 88px;
}

/* dark themes */
.is-dark {
    transition: all 0.2s ease-in-out;
    background: var(--color-dark);
    color: var(--primary-bg-white);

}



.is-fixed {
    position: fixed;
    z-index: 100;
    top: 20px;
    left: 25px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    text-align: center
}

.choose-themes {
    font-size: 20%;
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: all 500ms ease-in-out;
    background: var(--primary-bg-light);
    cursor: pointer;
    overflow: hidden;
}

.choose-themes.day {
    background: #423966;
}

.sun {
    position: absolute;
    display: block;
    border-radius: 50%;
    top: 15px;
    left: 15px;
    transform: rotate(0deg);
    transition: all 400ms ease-in-out;
    width: 7em;
    height: 7em;
    background: #fff;
    box-shadow: 3em 3em 0 5em #fff inset, 0 -5em 0 -2.7em #fff,
        3.5em -3.5em 0 -3em #fff, 5em 0 0 -2.7em #fff, 3.5em 3.5em 0 -3em #fff,
        0 5em 0 -2.7em #fff, -3.5em 3.5em 0 -3em #fff, -5em 0 0 -2.7em #fff,
        -3.5em -3.5em 0 -3em #fff;
}

.moon {
    position: absolute;
    border-radius: 50%;
    transition: all 400ms ease-in-out;
    top: 0px;
    left: 20px;
    transform: rotate(92deg);
    width: 30px;
    height: 30px;
    background: transparent;
    box-shadow: 3em 2.5em 0 0em var(--color-white)
}

#logo_header-2,
.logo-footer-dark {
    display: none;
}

.is-dark #logo_header-2,
.is-dark .logo-footer-dark {
    display: block;
}

.is-dark #logo_header,
.is-dark .logo-footer {
    display: none;
}

.is-dark .wd-icon-box {
    border-color: var(--bg-dark-hover);
}

.is-dark .wd-icon-box:hover,
.is-dark .wd-icon-box.active {
    background-color: var(--bg-dark-hover);

}

.is-dark .wd-icon-box:hover span::before,
.is-dark .wd-icon-box.active span {
    color: var(--primary-bg-light);
}

.is-dark .nav-menu::before,
.is-dark .nav-menu span,
.is-dark .nav-menu::after {
    color: var(--primary-bg-light);
}

.is-dark a:hover {
    color: var(--primary-bg-light);
}

.is-dark h1 {
    color: var(--color-white);
}

.is-dark a {
    color: var(--primary-color);
}

@keyframes flicker {
    from {
        color: var(--title-light)
    }

    to {
        color: var(--primary-bg-light);
    }
}

.flicker {
    animation: flicker 0.7s infinite;
}